#products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.card {
    width: 250px;
    padding: 20px;
    border: 1px solid #0c104d;
    border-radius: 10px;
    text-align: center;
    background-color: #c6dbeb;
}

.card img {
    width: 150px;
    height: 180px;
    object-fit: contain;
}

.card h3 {
    font-size: 18px;
}

.card p {
    color: green;
    font-weight: bold;
}
#getData {
    background-color: #0c4ba8;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin: 30px auto;
}

#getData:hover {
    background-color: #030b55;
     transform: scale(1.05);
}
/* Tablets */
@media (max-width: 768px) {

    #products {
        gap: 15px;
        padding: 0 15px;
    }

    .card {
        width: 220px;
        padding: 15px;
    }

    .card img {
        width: 130px;
        height: 160px;
    }

    .card h3 {
        font-size: 16px;
    }
}


/* Mobile */
@media (max-width: 480px) {

    #products {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 0 10px;
    }

    .card {
        width: 90%;
        max-width: 300px;
    }

    .card img {
        width: 140px;
        height: 170px;
    }

    .card h3 {
        font-size: 17px;
    }

    .card p {
        font-size: 16px;
    }
}